In [172]:
import pandas as pd
import numpy as np
import os
from datetime import datetime

In [173]:
data_path = os.path.join(os.getcwd(),'dataset\\KPMG_VI_New_raw_data_update_final.xlsx')
data_path

'd:\\Project\\python Basic\\KPMG\\Data-Science\\dataset\\KPMG_VI_New_raw_data_update_final.xlsx'

In [174]:
CustomerDemographic = pd.read_excel(data_path, sheet_name="CustomerDemographic",parse_dates=True, skiprows=[0])

C:\Users\Voltage\AppData\Local\Temp/ipykernel_14896/1650659374.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})
  CustomerDemographic = pd.read_excel(data_path, sheet_name="CustomerDemographic",parse_dates=True, skiprows=[0])

In [175]:
CustomerDemographic.isna().sum()

customer_id                              0
first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
default                                302
owns_car                                 0
tenure                                  87
dtype: int64

In [176]:
CustomerDemographic.drop(["default"], axis=1, inplace=True)

In [178]:
CustomerDemographic['full_name'] = CustomerDemographic['first_name'] +'_'+ CustomerDemographic['last_name']
CustomerDemographic['age'] = CustomerDemographic['DOB'].apply(lambda x: pd.to_datetime(datetime.now()).year - x.year)

In [164]:
CustomerDemographic.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,full_name,age
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,11.0,Laraine_Medendorp,68.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,Yes,16.0,Eli_Bockman,41.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,Yes,15.0,Arlin_Dearle,67.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,No,7.0,NaN,60.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,Yes,8.0,Sheila-kathryn_Calton,44.0

In [179]:
CustomerDemographic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 14 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  owns_car                             4000 non-null   object
 11  tenure                               3913 non-null   float64
 12  full_name                            3875 non-null   object
 13  age                                  3913 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(9)
memory usage: 437.6+ KB

In [180]:
CustomerDemographic.describe()

,customer_id,past_3_years_bike_related_purchases,tenure,age
count,4000.000000,4000.000000,3913.000000,3913.000000
mean,2000.500000,48.890000,10.657041,43.969333
std,1154.844867,28.715005,5.660146,12.796387
min,1.000000,0.000000,1.000000,19.000000
25%,1000.750000,24.000000,6.000000,34.000000
50%,2000.500000,48.000000,11.000000,44.000000
75%,3000.250000,73.000000,15.000000,53.000000
max,4000.000000,99.000000,22.000000,178.000000

In [181]:
CustomerDemographic.corr()

,customer_id,past_3_years_bike_related_purchases,tenure,age
customer_id,1.000000,-0.002529,-0.019947,0.000041
past_3_years_bike_related_purchases,-0.002529,1.000000,-0.009508,-0.029126
tenure,-0.019947,-0.009508,1.000000,0.426771
age,0.000041,-0.029126,0.426771,1.000000

In [191]:
CustomerDemographic[CustomerDemographic['age']>=99]

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,full_name,age
33,34,Jephthah,Bachmann,U,59,1843-12-21,Legal Assistant,IT,Affluent Customer,N,No,20.0,Jephthah_Bachmann,178.0

In [193]:
def writeValueCountsToExcel(path,dataframe:pd.DataFrame,columns:list):
    fpath= os.path.join(os.getcwd(),path)
    dir_path = os.path.dirname(path)
    if not os.path.exists(os.path.join(os.getcwd(),dir_path)):
                os.makedirs(os.path.join(os.getcwd(),dir_path))
    writer = pd.ExcelWriter(fpath)
    def getValueCounts(path,columns):
        for i,col in enumerate(columns):
            print("for ->", col)
            index =dataframe[col].value_counts(dropna=False).index.tolist()
            value = dataframe[col].value_counts(dropna=False).values
            df = pd.DataFrame({col: index, 'counts':value})
            
            if len(col) > 31:
                col=col[:31]
            df.to_excel(writer,col,index=True)
    getValueCounts(fpath,columns)
    writer.save()

In [194]:
path= f'dataset\\CustomerDemographic\\ValueCounts.xlsx'
writeValueCountsToExcel(path,CustomerDemographic,CustomerDemographic.columns)

for -> customer_id
for -> first_name
for -> last_name
for -> gender
for -> past_3_years_bike_related_purchases
for -> DOB
for -> job_title
for -> job_industry_category
for -> wealth_segment
for -> deceased_indicator
for -> owns_car
for -> tenure
for -> full_name
for -> age

In [218]:
CustomerDemographic['gender'].value_counts()

Female    2037
Male      1872
U           88
F            1
Femal        1
M            1
Name: gender, dtype: int64

['Female', 'Male', 'U', 'F', 'Femal', 'M']

In [ ]:
,y='gender', x =